/* Universal Box Sizing with Inheritance */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
}

/* Redefinição das margens e preenchimentos */
* {
   margin: 0;
   padding: 0;
}

/* Definição raiz do corpo da fonte para 15px(default 16px) */
:root {
   font-size: 0.9375em; /* 15px ÷ 16px = 0.9375em */
}

body {
   font-family: "Poppins", sans-serif;   
   background: #f0f2f5;
}

p {
   line-height: 1.5;
}
