/* Global =========================== */
:root {
   --primary-color-dark: #512da8;
   --primary-color: #673ab7;
   --primary-color-light: #d1c4e9;
   --primary-color-text: #ffffff;
   --accent-color: #4caf50;
   --accent-color2: #e74c3c;
   --primary-text-color: #363f5f;
   --secondary-text-color: #969cb3;
   --divider-color: #bdbdbd;
}

.container {
   width: min(90vw, 800px);
   margin: 0 auto;
}

/* Titles =========================== */
h2 {
   margin-top: 5.12rem;
   margin-bottom: 1.28rem;
   color: var(--primary-text-color);
   font-weight: normal;
}

/* Header =========================== */
header {
   background: var(--primary-color);
   padding: 0 0 16rem;
   text-align: center;
}

header::before {
   content: "";
   display: block;
   width: 100%;
   height: 3.2rem;
   background-color: var(--primary-color-dark);
}

#logo {
   margin-top: 1.6rem;
   color: var(--primary-color-text);
   font-weight: 200;
   letter-spacing: 0.1rem;
}

#slogan {
   margin: 0;
   color: var(--primary-color-light);
   letter-spacing: 0.1rem;
   font-weight: 300;
}

/* Balance =========================== */
#balance {
   margin-top: -12.8rem;
}

#balance h2 {
   color: var(--primary-color-text);
   margin-top: 0;
}

/* Cards =========================== */
.card {
   background: #fff;
   padding: 2.4rem 3.2rem;
   margin-bottom: 3.2rem;
   border-radius: 0.4rem;
   color: var(--primary-text-color);
}

.card h3 {
   font-size: 1.6rem;
   font-weight: normal;
}

.card p {
   margin-top: 1.6rem;
   font-size: 3.2rem;
   /* line-height: 4.8rem; */ /* Já estou herdando da folha reset */
}

.card.total {
   background: var(--primary-color-dark);
   color: var(--primary-color-text);
}

/* Transaction =========================== */
#data-table {
   width: 100%;
   border-spacing: 0 0.8rem;
   color: var(--secondary-text-color);
}

table thead tr th:first-child,
table tbody tr td:first-child {
   border-radius: 0.5rem 0 0 0.5rem;
}

table tbody tr {
   opacity: 0.7;
}

table tbody tr:hover {
   opacity: 1;
}

table th,
table td {
   background: #fff;
   padding: 1.6rem 3.2rem;
}

table th {
   text-align: left;
   font-weight: normal;
}

td.description {
   color: var(--primary-text-color);
}

td.income {
   color: var(--accent-color);
}

td.expense {
   color: var(--accent-color2);
}

/* Footer =========================== */
footer {
   color: var(--secondary-text-color);
   text-align: center;
   padding: 6.4rem 0 3.2rem;
   opacity: 0.6;
}
